__pycache__
rawdata
.venv
.idea
test.py
*.ldtkc
*.backup.ldtk
*.usave
/venv/*
build
.vscode
fluidsynth
resources/*
!resources/base
battler_ldtk_list.png
item_ldtk_list.png
.exportvenv
export
screenshot/
util/docs
.buildozer
compile.txt
logcat.txt
bin
uitest
data
backup
